:root {
    --fgcolor: #005c65;
    --bgcolor: #e6f4f1;
    --thirdcolor: #8b1c00;
    --fourthcolor: #4BC0C0;
  }


body {
    background-color: var(--bgcolor);
    color: var(--fgcolor);
    margin: 0;
    font-family: 'Alexandria', sans-serif;
}

a {
    color: var(--thirdcolor);
    text-decoration: none;
    font-weight: bold;
}

.header-full-width {
    background-color: var(--fgcolor);
    color: var(--bgcolor);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-full-width h1 {
    font-size: 2.5rem;
    margin: 0;
}

.header-full-width p {
    font-size: 1.2rem;
    margin: 10px 0 0;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.form-range {
    width: 100%;
    accent-color: var(--fgcolor);
}

.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--thirdcolor);
    border-radius: 50%;
    cursor: pointer;
}

.form-range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--thirdcolor);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.form-range::-moz-range-track {
    background: var(--fourthcolor);
    height: 5px;
    border-radius: 5px;
}

.toggle-button {
    background-color: var(--fourthcolor);
    color: var(--bgcolor);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.toggle-button[aria-pressed="true"] {
    background-color: var(--fgcolor);
}

.reset-button {
    background-color: var(--fourthcolor);
    color: var(--bgcolor);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.col-3 {
    width: 100%;
    padding: 10px;
}

@keyframes blink {
    0% {
        background-color: var(--fourthcolor);
    }

    50% {
        background-color: var(--fgcolor);
    }

    100% {
        background-color: var(--fourthcolor);
    }
}

.blink-animation {
    animation: blink 0.25s;
}

#wavetable {
    border: 2px solid var(--fgcolor);
    border-radius: 5px;
}
